*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.calc-container {
    width: 400px;
    height: 550px;
    border: 1px solid black;
    padding: 0.2rem;
}

.calc__display {
    width: 90%;
    height: 30%;
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
    gap: 0.1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.25rem;
    border: 1px solid black;
}

.calc__operation, 
.calc__userInput {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    padding: 0.25rem;
}


.calc__operation {
    width: 100%;
    height: 30%;
    color: rgb(78, 75, 75);
    font-size: 0.9rem;
}

.calc__userInput {
    height: 70%;
}

.calc__userInput p {
    font-size: 4rem;
}

.calc__input-container {
    width: 100%;
    height: 70%;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-rows: repeat(5, 60px);
    grid-template-columns: repeat(4, 80px);
    gap: 0.5rem;
    padding: 0.2rem;
}

.calc__cell {
    border-radius: 6px;
    border: none;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.511);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    transition: all 0.1s;
}

.calc__cell:hover {
    background-color: rgb(235, 229, 229);
}

.calc__cell:active, .activateButton {
    background-color: rgba(147, 139, 139, 0.269);
    border: 1px inset;
    box-shadow: none;
}

.backspace {
    grid-column: 4/5;
}

.calc__cell svg {
    width: 2rem;
    height: 2rem;
}


.error {
    opacity: 0.5;
    pointer-events: none;
}

